<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>标题</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body id="app">
    <div id="d1">
        <!-- 将price传到currency过滤器里 -->
        <!-- <input v-model="len"> {{ len | meter }}
        <input v-model="price"> {{ price | currency }} -->
        <!-- 自定义指令pin -->
        <popup></popup>
        <div v-pin:true.bottom.right="card1.pinned" class="card">
            <!--pin的value不同，以区分响应不同的div-->
            aowuaaaaaaadadadawf gshr adad
            <button @click="card1.pinned=!card1.pinned">固定/取消</button>
        </div>
        <div v-pin="card2.pinned" class="card">
            awdaqwbaydahakr adhuwdykabgara adhiuweiabdagfa


        </div>
        zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br>
        <br> zhel
        <br>ishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br><br><br><br> zhelishi
        beijingjingjingjingingigjingijng
        <br>
        <br> zhel
        <br>ishi beijingjingjingjingingigjingijngzhelishi beijingjingjingjingingigjingijng
        <br>
        <br>zhelishi beijingjingjingjingingigjingijng zhe
        <br>lishi beijingjingjingjingingigjingijng zhelish
        <br>i beijingjingjingjingingigjingijng zhelishi be<br>ijingjingjingjingingigjingijng zhelishi beijin<br>gjingjingjingingigjingijng zhelishi beijingjin<br>gjingjingingigjingijng
        <br> zhel
        <br>ishi beijingjingjingjingingigjingijng zhelishi
        <br> beijingjingjingjingingigjingijng v-bindzhelisvhi beijingjingjingjingingigjingijng zhelishi beij<br>ingjingjingjingingigjingijng=""
        <br>zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi
        beijingjingjingjingingigjingijng
        <br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi
        beijingjingjingjingingigjingijng
        <br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> v-bindzhelishi beijingjingjingjingingigjingijng
        <br>="" zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi
        beijingjingjingjingingigjingijng
        <br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi
        beijingjingjingjingingigjingijng
        <br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br> zhelishi beijingjingjingjingingigjingijng<br>


        <!-- <button type="button" onclick="random()">点我一下</button> -->
    </div>




    <script src="../lib/vue.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</body>

</html>